<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Bienvenu !</h5>
                  <p>Connectez-vous pour continuer au portail.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/round.png" alt="" class="rounded-circle" height="68" />
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">
              <form class="form-horizontal" *ngIf="!isLoggedIn" name="form" (ngSubmit)=" onSubmit()" [formGroup]="form"
                novalidate>
                <div class="mb-3">
                  <label for="email">Matricule</label>
                  <input type="text" class="form-control" name="matriculeP" required formControlName="matriculeP"
                    placeholder="Entrer votre matricule" />
                </div>

                <div class="mb-3">
                  <label for="password">Mot de passe</label>
                  <div class="input-group auth-pass-inputgroup">
                    <input input type="password" class="form-control" name="password" formControlName="password"
                      required minlength="6" placeholder="Entrer votre mot de passe" />
                    <div class="invalid-feedback"></div>
                  </div>
                </div>



                <div class="mt-3 d-grid">
                  <button class="btn btn-primary" type="submit">
                    Connexion
                  </button>
                </div>
                <br />
                <div *ngIf="errr" class="alert alert-danger">{{ errr }}</div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p>
            Vous n'avez pas de compte ?
            <a routerLink="/account/signup" class="fw-medium text-primary">
              Inscription
            </a>
          </p>
          <p>© {{year}} Dévlopper avec <i class="mdi mdi-heart text-danger"></i> par ArabSoft</p>
        </div>

        
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end page -->